<h2>Your short URL has been created.</h2>
<p>
  <b>Destination URL:</b><br>
  <%=h @url.destination %>
</p>

<p>
  <b>Short URL:</b>
  <%= link_to destination_url(@url.slug), destination_url(@url.slug) %>
</p>


<%= link_to 'Create another short URL', new_stored_url_path %>
